<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons start>
            <button ion-button color="white" (click)='onBack();'><ion-icon name="arrow-dropleft"></ion-icon></button>
        </ion-buttons>
        <ion-title>Ticket Details</ion-title>
        <ion-buttons end>
            <button *ngIf="claim.incidentStatus === 'IN_PROGRESS'" ion-button color="white" (click)='onCloseTicket();'>Close Ticket</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="incident-content-area">
        <ion-list>
            <ion-item>
                <strong>Process Id: </strong>{{claim.processId}}
            </ion-item>
            <ion-item>
                <strong>Type: </strong>{{claim.incident.incidentType}}
            </ion-item>
            <ion-item>
                <strong>Severity: </strong>{{claim.incident.severity}}
            </ion-item>
            <ion-item>
                <strong>Description</strong>
                <div>
                    {{claim.incident.description}}
                </div>
            </ion-item>
            <ion-item>
                <strong>Reported Date: </strong>{{claim.incident.incidentDate | date}}
            </ion-item>
            <ion-item>
                <strong>Building Name: </strong>{{claim.incident.buildingName}}
            </ion-item>
            <ion-item>
                <strong>State: </strong>{{claim.incident.stateCode}}
            </ion-item>
            <ion-item>
                <strong>Postal Code: </strong>{{claim.incident.zipCode}}
            </ion-item>
            <ion-item>
                <strong>{{claim.questionnaire.name}}</strong>
                <div *ngFor="let question of claim.questionnaire.questions; let i = index" [attr.data-index]="i">
                    {{question.questionId + ") " + question.description}} - {{claim.questionnaire.answers[i].strValue}}
                </div>
            </ion-item>
            <ion-item>Photos</ion-item>
            <ion-item *ngIf="claim.incidentStatus === 'IN_PROGRESS'">
                <button ion-button color="dark" (click)="takePhoto(1)">Take
                        Photo
                    </button>
                <button ion-button color="dark" (click)="takePhoto(0)">Select
                        Photo
                    </button>
            </ion-item>
            <div class="incident-photo-gallery">
                <div *ngFor="let photo of claim.photos">
                    <img width="30%" src={{photo}}>
                    <img width="30%">
                </div>
            </div>
            <br style="clear:both" /><br />
            <ion-item>
                Comments<button ion-button color="dark" style="float: right" (click)="saveComment()" *ngIf="claim.incidentStatus === 'IN_PROGRESS'">Save Comment</button>
            </ion-item>
            <ion-item *ngIf="claim.comments != undefined">
                <ion-item *ngFor="let comment of claim.comments">{{comment.message}}</ion-item>
            </ion-item>
            <ion-item *ngIf="claim.incidentStatus === 'IN_PROGRESS'">
                <ion-label floating>Add Comment</ion-label>
                <ion-textarea [(ngModel)]="comment"></ion-textarea>
            </ion-item>
        </ion-list>
    </div>
</ion-content>